{% extends 'myAdmin/master.html' %} {% load static %} {% block title %}
<title>Charts</title>
{% endblock %} {% block content %}
<div class="content-wrapper">
  <div class="page-header">
    <h3 class="page-title">Chartist</h3>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Charts</a></li>
        <li class="breadcrumb-item active" aria-current="page">Chartist</li>
      </ol>
    </nav>
  </div>
  <div class="row">
    <div class="col-lg-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Simple Line chart</h4>
          <div class="ct-chart ct-perfect-fourth" id="ct-chart-line"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Line scatterer</h4>
          <div id="rickshaw-time-scale"></div>
          <div
            class="ct-chart ct-perfect-fourth"
            id="ct-chart-line-scatterer"
          ></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Stacked bar chart</h4>
          <div
            class="ct-chart ct-perfect-fourth"
            id="ct-chart-stacked-bar"
          ></div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Horizontal bar chart</h4>
          <div
            class="ct-chart ct-perfect-fourth"
            id="ct-chart-horizontal-bar"
          ></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Pie chart</h4>
          <div class="ct-chart ct-perfect-fourth" id="ct-chart-pie"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Donut</h4>
          <div class="ct-chart ct-perfect-fourth" id="ct-chart-donut"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock%}