{% extends 'myAdmin/master.html' %} {% load static %} {% block title %}
<title>Edit Category</title>
{% endblock %} {% block content %}
<div class="col-md-6 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Category Form</h4>
      <p class="card-description">Category Form</p>
      <form action="/myAdmin/Category/update" class="forms-sample" id="category_form" method="POST">
        {% csrf_token %}
        <div class="form-group row">
          <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Category Id</label>
          <div class="col-sm-9">
            <input type="hidden" class="form-control" id="exampleInputUsername2" name="cat_id_txt" pattern="[0-9]{10}" placeholder="Enter Category Id." required title="Kindly Enter Only Numbers." value="{{cat.0}}"/>
          </div>
        </div>
        <div class="form-group row">
          <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Category Name</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="exampleInputName" name="cat_name_txt" pattern="^[A-Za-z -]+$" placeholder="Enter Category Name." required title="Kindly Enter Only Characters." value="{{cat.1}}"/>
          </div>
        </div>
        <!---<div class="form-group row">
            <label for="exampleInputMobile" class="col-sm-3 col-form-label">Mobile Number</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="exampleInputMobile" maxlength="10" minlength="10" name="user_mobile" pattern="[0-9]{10}" placeholder="Enter Mobile Number." required title="Kindly Enter Valid Mobile Number."  />
            </div>
          </div>
          <div class="form-group row">
            <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Password</label>
            <div class="col-sm-9">
              <input type="password" class="form-control" id="password" maxlength="8" minlength="6" name="user_password" placeholder="Enter Password." required/>
            </div>
          </div>
          <div class="form-group row">
            <label for="exampleInputConfirmPassword2" class="col-sm-3 col-form-label">Re - Enter Password</label>
            <div class="col-sm-9">
              <input type="password" class="form-control" id="confirm_password" maxlength="8" minlength="6" name="confirm_password" placeholder="Confirm Password." required/>
            </div>
          </div>
        <div class="form-check form-check-flat form-check-primary">
           <label class="form-check-label">
              <input type="checkbox" class="form-check-input" />
                Remember me
            </label>
        </div>-->
        <button type="submit" class="btn btn-primary mr-2" onclick="return editMsg();">Submit</button>
        <button class="btn btn-light">Cancel</button>
      </form>
    </div>
  </div>
</div>
{% endblock%}