{% extends 'myAdmin/master.html' %} {% load static %} {% block title %}
<title>Chat</title>
{% endblock %} {% block content %}

<div class="grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Chat</h4>
      <h2
        ><a
          href="https://dashboard.collect.chat/604f4e01b4ca023aad02fdc4/results/response"
          target="_blank"
          >Click to View Chat response</a
        ></h2
      >
    </div>
  </div>
</div>
{% endblock%}
