{% extends 'user/master.html' %} {% load static %} {% block title %}
<title>404 error</title>
{% endblock %} {% block mycontent %}

<!-- jp Tittle Wrapper Start -->
<div class="jp_tittle_main_wrapper">
  <div class="jp_tittle_img_overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="jp_tittle_heading_wrapper">
          <div class="jp_tittle_heading">
            <h2>404 error</h2>
          </div>
          <div class="jp_tittle_breadcrumb_main_wrapper">
            <div class="jp_tittle_breadcrumb_wrapper">
              <ul>
                <li><a href="/">Home</a> <i class="fa fa-angle-right"></i></li>

                <li>404 error</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- jp Tittle Wrapper End -->
<!-- jp 404 error wrapper start -->
<div class="error_page">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12 text-center">
        <div class="error_page_cntnt">
          <h2>
            <span>4</span>
            <span>0</span>
            <span>4</span>
          </h2>
          <h3>Sorry, This Page Isn't available :(</h3>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
