{% extends 'user/master.html' %} {% load static %} {% block title %}
<title>Applied Jobs</title>
{% endblock %} {% block mycontent %}
<div class="jp_tittle_main_wrapper">
  <div class="jp_tittle_img_overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="jp_tittle_heading_wrapper">
          <div class="jp_tittle_heading">
            <h2>Applied</h2>
          </div>
          <div class="jp_tittle_breadcrumb_main_wrapper">
            <div class="jp_tittle_breadcrumb_wrapper">
              <ul>
                <li><a href="/">Home</a> <i class="fa fa-angle-right"></i></li>
                <li></li>
                <li>Applied</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="aboutus_section">
  <div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <table id="applied_table" class="table">
        <thead>
          <tr>
            <th>Company Name</th>
            <th>Job Name</th>
            <th>Job Description</th>
            <th>Job Application Date</th>
            <th>Job Application Time</th>
            <th>Job Application Status</th>
          </tr>
        </thead>
        <tbody>
          {% for i in seek_data %}
          <tr>
            <td>{{i.0}}</td>
            <td>{{i.1}}</td>
            <td>{{i.2}}</td>
            <td>{{i.3}}</td>
            <td>{{i.4}}</td>
            <td>{{i.5}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
