{% extends 'user/master.html' %} {% load static %} {% block title %}
<title>Contact Us</title>
{% endblock %} {% block mycontent %}

<!-- jp Tittle Wrapper Start -->
<div class="jp_tittle_main_wrapper">
  <div class="jp_tittle_img_overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="jp_tittle_heading_wrapper">
          <div class="jp_tittle_heading">
            <h2>Contact Us</h2>
          </div>
          <div class="jp_tittle_breadcrumb_main_wrapper">
            <div class="jp_tittle_breadcrumb_wrapper">
              <ul>
                <li><a href="/">Home</a> <i class="fa fa-angle-right"></i></li>

                <li>Contact Us</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- jp Tittle Wrapper End -->
<!-- jp Contact heading Wrapper Start -->
<div class="jp_contact_heading_main_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="jp_contact_heading_wrapper">
          <h2>Our Helpline Number</h2>
          <p>
            Call us at <a href="tel:+917818075214">+917818075214</a> or Email us
            at
            <a href="mailto:info@unicorntechnolabs.com"
              >info@unicorntechnolabs.com</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- jp Contact form Wrapper Start -->
<div class="jp_contact_form_main_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="jp_contact_form_heading_wrapper">
          <h2>Leave A Message</h2>
        </div>
      </div>
      <form>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <div class="jp_contact_form_box">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="jp_contact_inputs_wrapper">
                <i class="fa fa-user"></i
                ><input type="text" placeholder="Name *" required />
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="jp_contact_inputs_wrapper jp_contact_inputs2_wrapper">
                <i class="fa fa-envelope"></i
                ><input type="email" placeholder="Email *" required />
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="jp_contact_inputs_wrapper jp_contact_inputs3_wrapper">
                <i class="fa fa-pencil-square-o"></i
                ><input type="text" placeholder="Subject*" required />
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="jp_contact_inputs_wrapper jp_contact_inputs4_wrapper">
                <i class="fa fa-text-height"></i
                ><textarea
                  rows="6"
                  placeholder="Type Your Message *"
                  required
                ></textarea>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="jp_contact_form_btn_wrapper">
                <ul>
                  <li>
                    <input type="submit" value="SEND" class="mybtn1" />
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="jp_contact_right_box_wrapper">
          <div class="jp_contact_form_add_heading_wrapper">
            <h2>Contact Info</h2>
          </div>
          <div class="jp_form_add_wrapper gc_map_add_wrapper1">
            <div class="jp_map_location_icon_wrapper">
              <i class="fa fa-map-marker"></i>
            </div>
            <div class="gc_map_location_icon_cont_wrapper">
              <h3>
                K16 Shree Krishna Center, Mithakhali Six Rd, above Crossword
                Library, Navrangpura, Ahmedabad, Gujarat 380009
              </h3>
            </div>
          </div>
          <div class="jp_form_add_wrapper gc_map_add_wrapper2">
            <div class="jp_map_location_icon_wrapper">
              <i class="fa fa-phone"></i>
            </div>
            <div
              class="gc_map_location_icon_cont_wrapper gc_map_location_icon_cont_wrapper2"
            >
              <h3><a href="tel:+917818075214">+917818075214</a></h3>
            </div>
          </div>
          <div class="jp_form_add_wrapper gc_map_add_wrapper3">
            <div class="jp_map_location_icon_wrapper">
              <i class="fa fa-envelope"></i>
            </div>
            <div
              class="gc_map_location_icon_cont_wrapper gc_map_location_icon_cont_wrapper4"
            >
              <h3>
                <a href="mailto:info@unicorntechnolabs.com"
                  >info@unicorntechnolabs.com</a
                >
              </h3>
            </div>
          </div>
          <div class="jp_contact_form_social_icon">
            <ul>
              <li>
                <a href="https://www.facebook.com/unicorntechnolabs"
                  ><i class="fa fa-facebook"></i
                ></a>
              </li>
              <li>
                <a href="https://twitter.com/UTechnolabs"
                  ><i class="fa fa-twitter"></i
                ></a>
              </li>
              <li class="hidden-xs">
                <a
                  href="https://www.linkedin.com/in/unicorn-technolabs-59a469188/"
                  ><i class="fa fa-linkedin"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock%}
