{% extends 'user/master.html' %} {% load static %} {% block title %}
<title>Login</title>
{% endblock %} {% block mycontent %}

<div class="jp_tittle_main_wrapper">
  <div class="jp_tittle_img_overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="jp_tittle_heading_wrapper">
          <div class="jp_tittle_heading">
            <h2>Login</h2>
          </div>
          <div class="jp_tittle_breadcrumb_main_wrapper">
            <div class="jp_tittle_breadcrumb_wrapper">
              <ul>
                <li><a href="/">Home</a> <i class="fa fa-angle-right"></i></li>
                <li>Login</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<form class="pt-3" method="post">
  {% csrf_token %}
  <div class="login_section">
    <div class="login_form_wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h1>LOGIN TO YOUR ACCOUNT</h1>
            <div class="login_wrapper">
              {% if messages %} {% for msg in messages %}
              <div class="alert alert-{{msg.level_tag}}" role="alert">
                {{msg.message}}
              </div>
              {% endfor %} {% endif %}
              <div class="formsix-pos">
                <div class="form-group i-email">
                  <input
                    type="email"
                    class="form-control"
                    id="email2"
                    placeholder="Email*"
                    title="Please Enter Only Characters"
                    name="user_email"
                    required
                  />
                </div>
              </div>
              <div class="formsix-e">
                <div class="form-group i-password">
                  <input
                    type="password"
                    class="form-control"
                    id="password2"
                    name="user_pass"
                    placeholder="Password *"
                    minlength="6"
                    required
                  />
                </div>
              </div>
              <div class="login_remember_box">
                <label class="control control--checkbox"
                  >Remember me
                  <input type="checkbox" id="Remember" name="remember" />
                  <span class="control__indicator"></span>
                </label>
                <a href="./ForgetPassword" class="forget_password">
                  Forgot Password
                </a>
                <br />
              </div>
              <div class="login_btn_wrapper">
                <input type="submit" value="LOGIN" class="mybtn" />
              </div>
              <div class="login_message">
                <p>
                  <b>Login as a Company</b>
                  <a href="./Company_Login"> &nbsp; &nbsp; Login </a>
                </p>
              </div>
              <div class="login_message">
                <p>
                  Don’t have an account ?
                  <a href="./Register">&nbsp; &nbsp; Register Now </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}
