{% extends 'user/master.html' %} {% load static %} {% block title %}
<title>Pricing</title>
{% endblock %} {% block mycontent %}

<!-- jp Tittle Wrapper Start -->
<div class="jp_tittle_main_wrapper">
  <div class="jp_tittle_img_overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="jp_tittle_heading_wrapper">
          <div class="jp_tittle_heading">
            <h2>Pricing</h2>
          </div>
          <div class="jp_tittle_breadcrumb_main_wrapper">
            <div class="jp_tittle_breadcrumb_wrapper">
              <ul>
                <li><a href="/">Home</a> <i class="fa fa-angle-right"></i></li>
                <li>Pricing</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- jp Tittle Wrapper End -->
<!-- jp pricing Wrapper Start -->
<div class="jp_pricing_main_wrapper">
  <div class="container">
    <div class="row">
      <div class="pricing_box1_wrapper pricing_border_box1_wrapper">
        <div class="box1_heading_wrapper">
          <h4>Basic Plan</h4>
        </div>
        <div class="price_box1_wrapper">
          <div class="price_box1">
            <h1>₹&nbsp;<span>1000</span></h1>
          </div>
        </div>
        <div class="pricing_cont_wrapper">
          <div class="pricing_cont">
            <ul>
              <li>
                <i class="fa fa-plus-circle"></i> &nbsp;&nbsp;5 Jobs Posting
              </li>
              <li>
                <i class="fa fa-plus-circle"></i> &nbsp;&nbsp;2 Featured jobs
              </li>
              <li>
                <i class="fa fa-plus-circle"></i> &nbsp;&nbsp;1 Year Duration
              </li>
              <li><i class="fa fa-plus-circle"></i> &nbsp;&nbsp;Email Alert</li>
            </ul>
          </div>
        </div>
        <div class="pricing_btn_wrapper">
          <div class="pricing_btn1">
            <ul>
              <li>
                <a href="/Payment"
                  ><i class="fa fa-plus-circle"></i> Get Started</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="jp_pricing_label_wrapper">
          <i class="fa fa-star"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="jp_pricing_info_main_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="jp_pricing_cont_heading">
          <h2>Additional Information :</h2>
        </div>
        <form>
          <div class="jp_pricing_form_wrapper">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="jp_pricing_inputs_wrapper">
                  <i class="fa fa-user"></i
                  ><input type="text" placeholder="Name*" required />
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div
                  class="jp_pricing_inputs_wrapper jp_pricing_inputs2_wrapper"
                >
                  <i class="fa fa-envelope"></i
                  ><input type="email" placeholder="Email*" required />
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!--<div class="jp_pricing_select_wrapper">
                                    <i class="fa fa-usd first_icon"></i><select>
									<option>Select Plan</option>
									<option>Select Plan</option>
									<option>Select Plan</option>
									<option>Select Plan</option>
								</select><i class="fa fa-angle-down second_icon"></i>
                                </div>-->
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="jp_pricing_form_btn_wrapper">
                  <ul>
                    <li>
                      <input
                        type="submit"
                        class="mybtn"
                        value="&nbsp; BUY NOW!"
                      />
                      <!---
                    <a href="#"
                      ><i class="fa fa-plus-circle"></i>&nbsp; BUY NOW!</a
                    >
                    --></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
